body {
  font-family: "Comfortaa",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 1.43;
  color: #565a5c;
  background-color: #f5f5f5;
  -webkit-font-smoothing: antialiased;
}

[type="text"], [type="password"], [type="search"], [type="email"], [type="url"], [type="tel"], textarea, select, .input-prefix, .input-suffix {
  padding: 8px 10px;
}
.p1-hero-wrapper {
  position: relative;
  height: 550px;
  max-height: 550px;
  background-color: #26C281;
}
#hero {
  z-index: -1;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.search-area {
  position: relative;
  top: 50px;
  height: 550px;
  width: 100%;
}

.va-top, .va-middle, .va-bottom {
  display: table-cell;
}
.va-container-h {
  width: 100%;
}
.va-container-v {
  height: 100%;
}
.va-container {
  display: table;
  position: relative;
}
.intro-area {
  padding-bottom: 142px;
}
.va-middle {
  vertical-align: middle;
}
.uppercase {
  text-transform: uppercase;
}
.text-contrast {
  color: #fff;
}
.text-jumbo {
  font-family: "OpenSansSemibold",Helvetica,Arial,sans-serif;
  font-size: 60px;
  font-weight: 600;
}
#subtitle {
  font-family: "OpenSansSemibold",Helvetica,Arial,sans-serif;
  font-size: 20px;
}
.p1-hero-search-form {
  background: #000;
  background: rgba(0,0,0,0.6);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 30px;
  padding-bottom: 30px;
}
.search-form-input-wrapper {
  display: inline-block;
  position: relative;
}
.location-wrapper {
  position: relative;
  display: inline-block;
}
.page-container-responsive {
  width: 1045px;
}
.page-container, .page-container-responsive {
  padding-left: 25px;
  padding-right: 25px;
}
.page-container, .page-container-responsive {
  margin-left: auto;
  margin-right: auto;
  padding-left: 12.5px;
  padding-right: 12.5px;
}

.discovery-card {
  background-color: #f5f5f5;
  background-size: cover;
  background-position: center;
  position: relative;
}
.discovery-card-wrapper, #weekend-recommendations .carousel-view, .discovery-card {
  height: 344px;
}
.row-space-4 {
  margin-bottom: 25px;
}
.panel-overlay-listing-label {
  bottom: 30px;
  left: 0;
  padding: 7px 10px;
}
.panel-overlay-label {
  background-color: #3c3f40;
  background-color: rgba(60,63,64,0.9);
  padding: 10px;
  color: #fff;
}
.panel-overlay-top-left, .panel-overlay-top-right, .panel-overlay-bottom-left, .panel-overlay-bottom-right {
  position: absolute;
}


.header {
  background: transparent;
  border-bottom: none;
  z-index: 1000;
  top: 20px;
  width: 100%;
  position: absolute;
  padding: 7px 20px;
  color: white;
  padding-left: 50px;
}
.header .header-belo {
  font-size: 24px;
  color: white;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
  display: block;
  width: 102px;
  height: 32px;
  margin: 0 auto;
  text-decoration: none;
  float: left;
  padding-top: 7px;
}
.header .header-belo:hover {
  text-decoration: none;
}
.regular-header a {
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
.logo {
  width: 36px;
  float: left;
}