<div ng-controller="driverCTL">
  <div class="subheader shift-with-hiw">
    <div class="header--sm show-sm pull-left">
      <a href="#" data-prevent-default="" class="link-reset burger--sm">
        <i class="icon icon-reorder icon-rausch"></i>
      </a>
      <div class="title--sm text-center">
        <img src="/images/logo.png" alt="logo" class="logo" />
        <a href="/" class="header-belo">taxitaxi</a>
      </div>
      <div class="action--sm"></div>
      <nav class="nav--sm"></nav>
      <div class="search-modal-container"></div>
    </div>

    <div class="regular-header clearfix hide-sm pull-right">
      <a href="/" class="header-belo pull-left"></a>
      <ul class="nav pull-right logged-out list-unstyled medium-right-margin">
        <li class="pull-left">
          <a href="/conductores" class="link-reset" rel="nofollow">
            Conductores
          </a>
        </li>
        <li class="pull-left">
          <a href="/tarifas" class="link-reset" rel="nofollow">
            Tarifas
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-md-10 col-center">
    <div class="col-md-12">
      <table class="table table-striped">
        <tr>
          <th>Nombre</th>
        </tr>
        <tr ng-repeat="driver in drivers">
          <td>{{ driver.name }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>