### OSX ###
.DS_Store

# Thumbnails
._*

### Swift ###
build/
*.pbxuser
!default.pbxuser
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate

### Other ###
/selenium-scrapper/target/
