<div id="header" class="header shift-with-hiw">
  <div class="header--sm show-sm pull-left">
    <a href="#" data-prevent-default="" class="link-reset burger--sm">
      <i class="icon icon-reorder icon-rausch"></i>
    </a>
    <div class="title--sm text-center">
      <img src="/images/logo.png" alt="logo" class="logo" />
      <a href="/" class="header-belo">taxitaxi</a>
    </div>
    <div class="action--sm"></div>
    <nav class="nav--sm"></nav>
    <div class="search-modal-container"></div>
  </div>

  <div class="regular-header clearfix hide-sm pull-right">
    <a href="/" class="header-belo pull-left"></a>
    <ul class="nav pull-right logged-out list-unstyled medium-right-margin">
      <li id="login" class="pull-left">
        <a data-login-modal="" href="/login?redirect_params[action]=show&amp;redirect_params[controller]=homepages" class="link-reset" rel="nofollow">
          Iniciar sesión
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Default home page -->
<div class="p1-hero-wrapper">
  <div class="search-area text-center">
    <div class="va-container va-container-v va-container-h">
      <div class="intro-area va-middle">
        <h1 id="tagline" class="uppercase text-jumbo text-contrast row-space-1">La forma mas segura de viajar</h1>
        <div class="col-sm-12 col-center">
          <div id="subtitle" class="h4 text-contrast row-space-4">
            Consulta tarifas de más de 190 ciudades.
          </div>
        </div>
        <div class="col-sm-12 col-center download-app">
          <div id="subtitle" class="h4 text-contrast row-space-4">
            Descarga la app aquí
          </div>
          <a href="#" class="button btn-appstore left" target="_blank">
              <img src="http://www-static.opera.com/static-heap/aa/aac0468e8b90d69b31fa302f1712e17460edc73c/app-store-en@2x.png" alt="App Store" style="width: 149px; height: 48px;">
          </a>
          <a href="#" class="button btn-appstore left" target="_blank">
              <img src="http://www.hubapp.com/img/google-play.png" alt="Google Play" style="width: 149px; height: 48px;">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-dark">
  <div id="discovery-container">
    <div class="discovery-section page-container-responsive page-container-no-padding row-space-6" id="discover-recommendations">
      <div class="section-intro text-center row-space-6 row-space-top-8">
        <h2 class="row-space-1 strong">
          Selecciona tu ciudad
        </h2>
        <p class="text-lead">
          Llega a tu destino de la forma mas segura, sin complicaciones.
        </p>
      </div>
      <div class="discovery-tiles">
        <div class="row">
          <div class="col-lg-8 col-md-12 rm-padding-sm">
            <div class="discovery-card rm-padding-sm row-space-4 darken-on-hover " style="background-image:url('http://www.globaltrip.com.mx/Imagenes/Cun1.jpg?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=33b4f2&amp;downsize=655px:326px');" sm-img-url="https://a1.muscache.com/ic/discover/85?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=33b4f2&amp;downsize=655px:326px">
              <a href="" class="link-reset" data-hook="discovery-card" data-id="Cancun">
                <div class="va-container va-container-v va-container-h">
                  <div class="va-middle text-center text-contrast">
                    <div class="h2 strong">
                      Cancun
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm row-space-4">
            <div class="">
              <div class="darken-on-hover-container">
                <a href="/rooms/1144221" class="text-normal link-reset">
                  <div class="discovery-card darken-on-hover discovery-listing" style="background-image:url('http://tribunadigital.com.mx/wp-content/uploads/2015/01/07586.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70')">
                    <div class="va-container va-container-v va-container-h">
                      <div class="va-middle text-center text-contrast">
                        <div class="h2 strong">Tulum</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 rm-padding-sm row-space-4">
            <div class="">
              <div class="darken-on-hover-container">
                <a href="/rooms/492596" class="text-normal link-reset">
                  <div class="discovery-card darken-on-hover discovery-listing" style="background-image:url('http://www.visitmexico.com/work/models/VisitMexico30/WebPage/MRDA_Plaza_central_Ac/photoEscudo_MRDA_Plaza_central_Ac_plazacentral.jpg?interpolation=lanczos-none&amp;size=x_medium&amp;output-format=jpg&amp;output-quality=70')">
                    <div class="va-container va-container-v va-container-h">
                      <div class="va-middle text-center text-contrast">
                        <div class="h2 strong">Mérida</div>
                      </div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-8 col-md-12 hide-sm rm-padding-sm">
            <div class="discovery-card rm-padding-sm row-space-4 darken-on-hover " style="background-image:url('http://www.grupotravel.com/gestor_web/contenido/img/54665a7d6d40e.jpg?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=33b4f2&amp;downsize=655px:326px');" sm-img-url="https://a2.muscache.com/ic/discover/42?interpolation=lanczos-none&amp;output-format=jpg&amp;output-quality=70&amp;v=33b4f2&amp;downsize=655px:326px">
              <a href="" class="link-reset" data-hook="discovery-card" data-id="Playa del Carmen">
                <div class="va-container va-container-v va-container-h">
                  <div class="va-middle text-center text-contrast">
                    <div class="h2 strong">
                      Playa del Carmen
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>