<div id="header" class="header shift-with-hiw">
  <div class="header--sm show-sm pull-left">
    <a href="#" data-prevent-default="" class="link-reset burger--sm">
      <i class="icon icon-reorder icon-rausch"></i>
    </a>
    <div class="title--sm text-center">
      <img src="/images/logo.png" alt="logo" class="logo" />
      <a href="/" class="header-belo">taxitaxi</a>
    </div>
    <div class="action--sm"></div>
    <nav class="nav--sm"></nav>
    <div class="search-modal-container"></div>
  </div>

  <div class="regular-header clearfix hide-sm pull-right">
    <a href="/" class="header-belo pull-left"></a>
    <ul class="nav pull-right logged-out list-unstyled medium-right-margin">
      <li class="pull-left">
        <a href="/conductores" class="link-reset" rel="nofollow">
          Conductores
        </a>
      </li>
      <li class="pull-left">
        <a href="/tarifas" class="link-reset" rel="nofollow">
          Tarifas
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Default home page -->
<div class="p1-hero-wrapper">
  <div class="search-area text-center">
    <div class="va-container va-container-v va-container-h">
      <div class="intro-area va-middle">
        <h1 id="tagline" class="uppercase text-jumbo text-contrast row-space-1">La forma mas segura de viajar</h1>
        <div class="col-sm-12 col-center">
          <div id="subtitle" class="h4 text-contrast row-space-4">
            Consulta tarifas de más de 190 ciudades.
          </div>
        </div>
        <div class="col-sm-12 col-center download-app">
          <div id="subtitle" class="h4 text-contrast row-space-4">
            Descarga la app aquí
          </div>
          <a href="#" class="button btn-appstore left" target="_blank">
              <img src="http://www-static.opera.com/static-heap/aa/aac0468e8b90d69b31fa302f1712e17460edc73c/app-store-en@2x.png" alt="App Store" style="width: 149px; height: 48px;">
          </a>
          <a href="#" class="button btn-appstore left" target="_blank">
              <img src="http://www.hubapp.com/img/google-play.png" alt="Google Play" style="width: 149px; height: 48px;">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
